import React from "react";

import styles from "./style.module.css";

export interface I{{componentName}}Props {}

const {{componentName}} = () => {
  return (
    <div className={styles.root}>
      TODO
    </div>
  );
};

export default {{componentName}};
